# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / build outputs
dist/
build/

# Misc
.DS_Store
*.pem

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env files
.env
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local
